body {
  background-color: #F8F7F3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}

table {
  width: 100%;
}

th {
  background-color: #FF6000;
  color: #F8F7F3;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#Enviar {
  background-color: #FF6000;
  color: #F8F7F3;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#Enviar:hover {
  background-color: #403D38;
}
