body {
  font-family: Arial, sans-serif;
  background-color: #F8F7F3;
  margin: 0;
  padding: 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #403D38;
}

th {
  background-color: #FF6000;
  color: #F8F7F3;
}

td {
  background-color: #F8F7F3;
}

a {
  color: #FF6000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #FF6000;
  color: #F8F7F3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #403D38;
}
